{
	"presets": ["env", "flow", "react"],
	"plugins": [
		"flow-react-proptypes",
		"transform-class-properties",
		"babel-plugin-root-import",
		"babel-plugin-styled-components",
		["module-resolver", {
			"root": ["./src"]
		}]
	]
}
