{
	"extends": "airbnb",
	"plugins": ["flowtype", "prettier"],
	"parser": "babel-eslint",
	"rules": {
		"linebreak-style": "off",
		"indent": ["error", "tab"],
		"no-tabs": "off",
		"quotes": ["error", "single"],
		"import/prefer-default-import": "off",
		"function-paren-newline": "off"
	}
}
